<header id="main-header">
  <div id="logo">
    <a href="/">Mon Blog</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/posts">Tout les posts</a>
      </li>
      <li>
        <a href="/new-post">Créer un post</a>
      </li>
    </ul>
  </nav>
</header>