<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('includes/head', { title: 'Pas trouvé !' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>Nous n'avons pas pu trouver cette ressource !</h1>
    <p>Malheureusement, nous n'avons pas pu trouver cette ressource.</p>
    <a class="btn" href="/">Retour en sécurité !</a>
  </main>
</body>

</html>