<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('includes/head', { title: 'Quelque chose s\'est mal passé !' }) %>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>Oups, quelque chose s'est mal passé !</h1>
    <p>Malheureusement, quelque chose s'est mal passé de notre côté - nous travaillons à le corriger !</p>
    <a class="btn" href="/">Retour en sécurité !</a>
  </main>
</body>

</html>